<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="static/styles/app.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="banner.gif">
        <title>TEST BENeddeTONA</title>
    </head>
    <body>

        <ul class="nav">
            <img class="img" src="banner.gif">
            <li href="a">TEST BENTONA</li>
        </ul>


        <div class="divLoginButton">
            <h1>Zaloguj się</h1>
            <input class="loginEditText" type="email" placeholder="e-mail"><br>
            <input class="loginEditText" type="password" placeholder="hasło"><br>
            <form action="/templates/mainWindow.html" method="post">
                <input class="loginButton" type="submit" value="ZALOGUJ">
            </form>
            <form action="/templates/register.html" method="post">
                <input class="registerButton" type="submit" value="ZAŁÓŻ KONTO">
            </form>
        </div>

                <ul class="navDown">
                    <li href="a"> </li>
                </ul>
    </body>
</html>