<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="static/styles/app.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="banner.gif">
        <title>TEST BENTONA</title>
    </head>
    <body>

        <ul class="nav">
            <image src="{{url_for('static', filename='images/banner.gif')}}">
            <li href="a">TEST BENTONA</li>
        </ul>

    <form action="/" method="POST">
        <div class="divLoginButton">
            <h1>Zaloguj się</h1>
            <input class="loginEditText" type="email" name="email" placeholder="e-mail"><br>
            <input class="loginEditText" type="password" name="password" placeholder="hasło"><br>  
            <span>{{loginMessage}}</span><br> 
            <input class="loginButton" type="submit" value="ZALOGUJ"><br>             
            <a href="/signup" class="registerButton">ZAŁÓŻ KONTO</a>             
        </div>
        

                <ul class="navDown">
                    <li href="a"> </li>
                </ul> 
    </body>
</html>
